EMLC-2.0rev1.iepd/schemas/exchange/SensorDetail_Explosive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:expdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/explosive/"
           xmlns:sensor="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/"
           xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
           xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
           xmlns:structures="http://release.niem.gov/niem/structures/4.0/"
           targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/explosive/"
           elementFormDefault="qualified" version="2.0"
           ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
    <xs:annotation>
        <xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused
            across the various EM message types.
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://release.niem.gov/niem/structures/4.0/"
               schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/"
               schemaLocation="em_base.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"
               schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/"
               schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
               schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/"
               schemaLocation="EMLCCodeLists.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
               schemaLocation="EMLC.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/"
               schemaLocation="SensorDetail.xsd"/>
    <!-- ELEMENTS -->
    <xs:element name="ExplosiveFamily" type="expdet:ExplosiveFamilyType">
        <xs:annotation>
            <xs:documentation>
                true if explosive; false otherwise
                The top element for the explosive family elements
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ExplosivePrecursor" type="expdet:ExplosivePrecursorType">
        <xs:annotation>
            <xs:documentation>
                true if explosive precursor; false otherwise
                The top element for the explosive precursor elements
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- PRECURSOR ELEMENTS -->
    <xs:element name="AmmoniumNitrateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Ammonium Nitrate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AmmoniumPerchlorateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Ammonium Perchlorate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BariumNitrateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Barium Nitrate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ExplosivePrecursorNoneIndicator" type="niem-xs:boolean">
        <xs:annotation>
            <xs:documentation>
                true if explosive precursor; false otherwise
                an Explosive Precursor None Indicator
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="GuanidineNitrateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Guanidine Nitrate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HydrogenPeroxideValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Hydrogen Peroxide Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PerchloricAcidValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Perchloric Acid Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PotassiumChlorateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Potassium Chlorate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PotassiumNitriteValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Potassium Nitrite Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PotassiumPerchlorateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Potassium Perchlorate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SodiumChlorateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Sodium Chlorate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SodiumNitrateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Sodium Nitrate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SodiumNitriteValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Sodium Nitrite Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SodiumPerchlorateValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Sodium Perchlorate Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TetranitromethaneValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Tetranitromethane Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherExplosivePrecursor" type="sensor:OtherSensorType">
        <xs:annotation>
            <xs:documentation>
                a type of explosive precursor sensor
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- FAMILY ELEMENTS -->
    <xs:element name="AcetyleneOrAcetylideCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Acetylene Or Acetylide Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AciNitroSaltsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Aci Nitro Salts Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AciNitroquinonoidCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Aci Nitroquinonoid Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AcylAzidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Acyl Azides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AcylHypohalitesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Acyl Hypohalites Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AlkylNitratesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Alkyl Nitrates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AlkylPerchloratesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Alkyl Perchlorates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AllylTfmsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Allyl Tfms Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AmminemetalOxosaltsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Amminemetal Oxosalts Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AromaticNitratesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Aromatic Nitrates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AzidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Azides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AziridinesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Aziridines Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AzocarbaboranesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Azocarbaboranes Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DiazoCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Diazo Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DiazoniumCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Diazonium Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DifluoroaminoalkanolsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Difluoroaminoalkanols Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ExplosiveFamilyNoneIndicator" type="niem-xs:boolean">
        <xs:annotation>
            <xs:documentation>
                an Explosive Family None Indicator
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="FluoroNitroCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Fluoro Nitro Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="FulminatingMetalsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Fulminating Metals Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="FurazanNOxidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Furazan N Oxides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HodpcSaltsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Hodpc Salts Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IodineCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Iodine Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsoxazolesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Isoxazoles Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalAzideHalidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Azide Halides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalAzidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Azides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalFulminatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Fulminates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalHalogentatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Halogentates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalHydridesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Hydrides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalNitrophenoxidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Nitrophenoxides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalOxidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Oxides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalOxohalogenatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Oxohalogenates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalOxometallatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Oxometallates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalPercoloratesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Percolorates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalPeroxidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Peroxides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalPeroxomolybdatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Peroxomolybdates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MetalPicramatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Metal Picramates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="NAzoliumNitroimidatesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a HN Azolium Nitroimidates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="NitroarylCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Nitroaryl Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="NitrosoCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Nitroso Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="NMetalDerivativesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a N Metal Derivatives Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="NSCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a NS Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganicAcidsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Organic Acids Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganicAzidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Organic Azides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganolithiumReagentsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Organolithium Reagents Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrganomineralPeroxidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Organomineral Peroxides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OximesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Oximes Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OxosaltsOfNitrogenousBasesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Oxosalts Of Nitrogenous Bases Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OzonidesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                an Ozonides Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PerchlorateSaltsOfNitrogenousBasesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Perchlorate Salts Of Nitrogenous Bases Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PerchlorylCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Perchloryl Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PeroxyacidSaltsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Peroxyacid Salts Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PeroxyacidsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Peroxyacids Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PeroxycarbonateEstersValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Peroxycarbonate Esters Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PhosorusEstersValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Phosorus Esters Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PicratesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Picrates Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PlatinumCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Platinum Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PolyDimercuryimmoniumCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Poly Dimercuryimmonium Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PolymerizationViolentValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Polymerization Violent Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PolynitroalkylCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Polynitroalkyl Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PolynitroarylCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Polynitroaryl Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SilverCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Silver Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StrainedRingCompoundsValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Strained Ring Compounds Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TetrazolesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Tetrazoles Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TriazolesValue" type="niem-xs:double">
        <xs:annotation>
            <xs:documentation>
                a Triazoles Value
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherExplosiveFamily" type="sensor:OtherSensorType">
        <xs:annotation>
            <xs:documentation>
                a type of explosive family sensor
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="ExplosiveFamilyType">
        <xs:annotation>
            <xs:documentation>
                A data type containing readings for explosive family sensors.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="expdet:AcetyleneOrAcetylideCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AciNitroSaltsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AciNitroquinonoidCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AcylAzidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AcylHypohalitesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AlkylNitratesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AlkylPerchloratesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AllylTfmsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AmminemetalOxosaltsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AromaticNitratesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AzidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AziridinesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AzocarbaboranesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:DiazoCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:DiazoniumCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:DifluoroaminoalkanolsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:ExplosiveFamilyNoneIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:FluoroNitroCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:FulminatingMetalsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:FurazanNOxidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:HodpcSaltsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:IodineCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:IsoxazolesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalAzideHalidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalAzidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalFulminatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalHalogentatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalHydridesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalNitrophenoxidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalOxidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalOxohalogenatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalOxometallatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalPercoloratesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalPeroxidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalPeroxomolybdatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:MetalPicramatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:NAzoliumNitroimidatesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:NitroarylCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:NitrosoCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:NMetalDerivativesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:NSCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OrganicAcidsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OrganicAzidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OrganolithiumReagentsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OrganomineralPeroxidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OximesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OxosaltsOfNitrogenousBasesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OzonidesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PerchlorateSaltsOfNitrogenousBasesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PerchlorylCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PeroxyacidSaltsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PeroxyacidsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PeroxycarbonateEstersValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PhosorusEstersValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PicratesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PlatinumCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PolyDimercuryimmoniumCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PolymerizationViolentValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PolynitroalkylCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PolynitroarylCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:SilverCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:StrainedRingCompoundsValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:TetrazolesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:TriazolesValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OtherExplosiveFamily" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
             </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExplosivePrecursorType">
        <xs:annotation>
            <xs:documentation>
                A data type containing readings for explosive precursor sensors.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="expdet:AmmoniumNitrateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:AmmoniumPerchlorateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:BariumNitrateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:ExplosivePrecursorNoneIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:GuanidineNitrateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:HydrogenPeroxideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PerchloricAcidValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PotassiumChlorateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PotassiumNitriteValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:PotassiumPerchlorateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:SodiumChlorateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:SodiumNitrateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:SodiumNitriteValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:SodiumPerchlorateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:TetranitromethaneValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:OtherExplosivePrecursor" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
