EMLC-2.0rev1.iepd/schemas/exchange/SensorDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Brian Wilkins (ArdentMC) -->
<xs:schema xmlns:sensor="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/"
           xmlns:sc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/codes/"
           xmlns:devdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/device/"
           xmlns:phydet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/physiological/"
           xmlns:powdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/power/"
           xmlns:biodet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/biological/"
           xmlns:chemdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/chemical/"
           xmlns:envdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/environmental/"
           xmlns:expdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/explosive/"
           xmlns:locdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/location/"
           xmlns:raddet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/radiological/"
           xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
           xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
           xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/"
           xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:structures="http://release.niem.gov/niem/structures/4.0/"
           targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/"
           elementFormDefault="qualified" version="2.0"
           ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
    <xs:annotation>
        <xs:documentation>
            The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://release.niem.gov/niem/structures/4.0/"
               schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/"
               schemaLocation="em_base.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"
               schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/"
               schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
               schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/"
               schemaLocation="EMLCCodeLists.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
               schemaLocation="EMLC.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/codes/"
               schemaLocation="SensorCodeLists.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/biological/"
               schemaLocation="SensorDetail_Biological.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/chemical/"
               schemaLocation="SensorDetail_Chemical.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/device/"
               schemaLocation="SensorDetail_Device.xsd"/>
    <xs:import
            namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/environmental/"
            schemaLocation="SensorDetail_Environmental.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/explosive/"
               schemaLocation="SensorDetail_Explosive.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/location/"
               schemaLocation="SensorDetail_Location.xsd"/>
    <xs:import
            namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/physiological/"
            schemaLocation="SensorDetail_Physiological.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/power/"
               schemaLocation="SensorDetail_Power.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/radiological/"
               schemaLocation="SensorDetail_Radiological.xsd"/>
    <!-- ELEMENTS -->
    <xs:element name="SensorDetail" type="sensor:SensorDetailType" substitutionGroup="emlc:EventDetailAbstract">
        <xs:annotation>
            <xs:documentation>
                an reading with details from a sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SensorID" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>
                An identifier of the sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SensorStatus" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>s
                a status of the sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ReadingDateTime" type="nc:ZuluDateTimeType">
        <xs:annotation>
            <xs:documentation>
                a date and time of the sensor reading.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BiologicalDetail" type="sensor:BiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of a biological detection sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ChemicalDetail" type="sensor:ChemicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of a chemical detection sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DeviceDetail" type="sensor:DeviceDetailType">
        <xs:annotation>
            <xs:documentation>
                a device detail about the sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EnvironmentalDetail" type="sensor:EnvironmentalDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of an environmental sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ExplosiveDetail" type="sensor:ExplosiveDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of an explosive detection sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LocationDetail" type="sensor:LocationDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of a location sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PhysiologicalDetail" type="sensor:PhysiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of a physiological sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PowerDetail" type="sensor:PowerDetailType">
        <xs:annotation>
            <xs:documentation>
                a power status of the sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="RadiologicalDetail" type="sensor:RadiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a reading of a radiological detection sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherSensorDataTypeCode" type="sc:OtherSensorDataTypeCodeType">
        <xs:annotation>
            <xs:documentation>
                a data type of the reading of the other sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherSensorID" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>
                An identifier of the other sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherSensorUnitOfMeasureText" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>
                a unit of measure of the reading of the other sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OtherSensorValueText" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>
                A value of a reading of the other sensor.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SensorDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing information about a sensor and its associated readings.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="sensor:SensorID" minOccurs="1" maxOccurs="1"/>
                    <xs:element ref="sensor:SensorStatus" minOccurs="1" maxOccurs="1"/>
                    <xs:element ref="sensor:ReadingDateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:BiologicalDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:ChemicalDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:DeviceDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:EnvironmentalDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:ExplosiveDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:LocationDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:PhysiologicalDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:PowerDetail" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="sensor:RadiologicalDetail" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from a biological sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="biodet:AnthraxIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:BotulisIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:BubonicPlagueIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:HemorrhagicFeverIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:SmallPoxIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:TularemiaIndicator" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="biodet:OtherBiological" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ChemicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from a chemical sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="chemdet:AcidValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:AmmoniaValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:CarbonDioxideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:CarbonMonoxideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:ChlorineValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:DiboraneValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:HydrogenValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:HydrogenCyanideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:HydrogenFlourideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:HydrogenSulfideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:IodineValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:MethaneValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:NitrogenDioxideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:OxygenValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:PhosgeneValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:PhosphineValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:SulfurDioxideValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="chemdet:OtherChemical" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeviceDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing information about the hardware and software versions of the sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="devdet:FirmwareRevisionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:HardwareRevisionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:ManufacturerNameText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:ModelNumberText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:SerialNumberText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:SoftwareRevisionText" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="devdet:OtherDevice" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EnvironmentalDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from an environmental sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="envdet:AirPressureValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="envdet:AirTemperatureValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="envdet:HumidityPercent" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="envdet:OtherEnvironmental" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExplosiveDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from an explosive detection sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="expdet:ExplosiveFamily" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="expdet:ExplosivePrecursor" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LocationDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from a location sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="locdet:XCoordinateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:YCoordinateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:ZCoordinateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:XAxisAccelerationRate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:YAxisAccelerationRate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:ZAxisAccelerationRate" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:AccuracyValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:HeadingValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:VelocityValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="locdet:OtherLocation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PhysiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from a physiological sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="phydet:BloodGlucoseLevelValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:BloodPressure" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:BodyTemperatureValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:CO2LevelValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:HeartRateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:Hydration" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:PhysicalStrainIndexValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:PulseOximetryPercent" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:RespirationRateValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="phydet:OtherPhysiological" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PowerDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing information about the power status of the sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="powdet:BatteryLevelPercent" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="powdet:BatteryRemainingDuration" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="powdet:OtherPower" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RadiologicalDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings from a radiological sensor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="raddet:AlphaValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="raddet:BetaValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="raddet:GammaValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="raddet:IonizingValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="raddet:NeutronValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="raddet:OtherRadiological" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OtherSensorType">
        <xs:annotation>
            <xs:documentation>
                a data type containing readings for other sensors.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emlc:ObjectType">
                <xs:sequence>
                    <xs:element ref="sensor:OtherSensorID" minOccurs="1" maxOccurs="1"/>
                    <xs:element ref="sensor:OtherSensorValueText" minOccurs="1" maxOccurs="1"/>
                    <xs:element ref="sensor:OtherSensorDataTypeCode" minOccurs="1" maxOccurs="1"/>
                    <xs:element ref="sensor:OtherSensorUnitOfMeasureText" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
