schemas/exchange/EMLC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:rtlt="http://example.com/adapters/fema_rtlt/4.0/"
           xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
           xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/4.0/"
           xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/"
           xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/"
           xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
           xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:structures="http://release.niem.gov/niem/structures/4.0/"
           xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/"
           targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/"
           elementFormDefault="qualified" version="2.0"
           ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
    <xs:annotation>
        <xs:documentation>
            A schema for sharing information between Computer Aided Dispatch (CAD) systems.
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://release.niem.gov/niem/structures/4.0/"
               schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"
               schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/"
               schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/"
               schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/"
               schemaLocation="em_base.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/"
               schemaLocation="EMLCCodeLists.xsd"/>
    <xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/maid/"
               schemaLocation="MutualAidDetail.xsd"/>
    <xs:import namespace="http://example.com/adapters/fema_rtlt/4.0/"
               schemaLocation="../subset/niem-4.0/niem/adapters/fema/4.0/fema_rtlt.xsd"/>

    <!-- ELEMENTS -->
    <xs:element name="AddressIntersectionIndicator" type="niem-xs:boolean">
        <xs:annotation>
            <xs:documentation>
                true if address intersects; false otherwise
                An indicator that the address of the incident is an intersection.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Event" type="emlc:EventType">
        <xs:annotation>
            <xs:documentation>
                An incident or resource event.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EventDetailAbstract" abstract="true">
        <xs:annotation>
            <xs:documentation>
                An abstract of additional information providing more detail about the event.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentDetail" type="emlc:IncidentDetailType" substitutionGroup="emlc:EventDetailAbstract">
        <xs:annotation>
            <xs:documentation>
                A record of additional information needed to sufficiently describe an incident.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentIdentifier" type="nc:IdentificationType"
                substitutionGroup="nc:OrganizationAugmentationPoint">
        <xs:annotation>
            <xs:documentation>
                An identifier used within the owning organization to identify the incident.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentLocationExtension" type="emlc:IncidentLocationExtensionType">
        <xs:annotation>
            <xs:documentation>
                An alternate method of describing the resource's location.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentOwningOrganization" type="emlc:IncidentOrganizationType">
        <xs:annotation>
            <xs:documentation>
                An organization that is responsible for responding to the incident.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentStatus" type="emlc:IncidentStatusType">
        <xs:annotation>
            <xs:documentation>
                A status of the incident (e.g. if the incident is active or closed).
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentPrimaryStatus" type="emcd:IncidentPrimaryStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A primary status type for an incident. This is made up of a small, general set of terms that are further
                described by the secondary status terms.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentSecondaryStatus" abstract="true">
        <xs:annotation>
            <xs:documentation>
                A more descriptive status type for an incident that compliments the primary status type. This status
                type can be community defined or use one of the pre-defined code lists provided in the schema.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentEIDDCode" type="emcd:IncidentEIDDStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A set of incident status codes contained within the EIDD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentEIDDStatus" type="emlc:IncidentEIDDStatusType"
                substitutionGroup="emlc:IncidentSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A set of incident status codes contained within the EIDD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentPulsePointCode" type="emcd:IncidentPulsePointStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A set of incident status codes contained within the PulsePoint documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentPulsePointStatus" type="emlc:IncidentPulsePointStatusType"
                substitutionGroup="emlc:IncidentSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A set of incident status codes contained within the PulsePoint documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IncidentSecondaryStatusText" type="mo:CodespaceCodePairType"
                substitutionGroup="emlc:IncidentSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A free text field for describing the primary incident status type in further detail.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureLocationExtension" type="emlc:IncidentLocationExtensionType">
        <xs:annotation>
            <xs:documentation>
                An alternate methods of describing the infrastructure's location.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureDetail" type="emlc:InfrastructureDetailType"
                substitutionGroup="emlc:EventDetailAbstract">
        <xs:annotation>
            <xs:documentation>
                A detail of additional information needed to sufficiently describe the status of fixed infrastructure.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureStatus" type="emlc:InfrastructureStatusType">
        <xs:annotation>
            <xs:documentation>
                A status of fixed infrastructure
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructurePrimaryStatusCode" type="emcd:InfrastructurePrimaryStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A status type for fixed infrastrucutre. This is made up of a small, general set of terms.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureSecondaryStatusAbstract" abstract="true">
        <xs:annotation>
            <xs:documentation>
                A more descriptive status type for infrastructure that compliments the primary status type. This status
                type can be community defined or use one of the pre-defined code lists provided in the schema.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureStatusReason" type="niem-xs:string">
        <xs:annotation>
            <xs:documentation>
                A free text string for describing reason for the infrastructure status
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureDegradedPercent" type="niem-xs:decimal">
        <xs:annotation>
            <xs:documentation>
                An estimated percent that fixed infrastructure is degraded.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureEstimatedMitigationTime" type="nc:ZuluDateTimeType">
        <xs:annotation>
            <xs:documentation>
                Estimated time that the infrastructure degredation will be fully mitigated.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InfrastructureTrendCode" type="emcd:InfrastructureTrendCodeType">
        <xs:annotation>
            <xs:documentation>
                A trend of infrstructure status since last report.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PointOfContact" type="nc:ContactInformationType">
        <xs:annotation>
            <xs:documentation>
                A Point of Contact Information
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceControllingOrganization" type="emlc:ResourceOrganizationType">
        <xs:annotation>
            <xs:documentation>
                An organization that is responsible for controlling the resource. If not noted, then assume the owning
                organization is the controlling organization.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceDetail" type="emlc:ResourceDetailType" substitutionGroup="emlc:EventDetailAbstract">
        <xs:annotation>
            <xs:documentation>
                An additional information needed to sufficiently describe a resource.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceIdentifier" type="nc:IdentificationType"
                substitutionGroup="nc:OrganizationAugmentationPoint">
        <xs:annotation>
            <xs:documentation>
                An identifier used within the controlling organization to identify the resource.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceNIMSDefinition" type="rtlt:NIMSResourceDefinitionType">
        <xs:annotation>
            <xs:documentation>The FEMA NIMS definition of a resource.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceOwningOrganization" type="emlc:ResourceOrganizationType">
        <xs:annotation>
            <xs:documentation>
                An organization that owns the resource.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceStatus" type="emlc:ResourceStatusType">
        <xs:annotation>
            <xs:documentation>
                A current status of the resource.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourcePrimaryStatus" type="emcd:ResourcePrimaryStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A primary status type for an resource. This is made up of a small, general set of terms that are further
                described by the secondary status terms.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceSecondaryStatus" abstract="true">
        <xs:annotation>
            <xs:documentation>
                A more descriptive status type for an resource that compliments the primary status type. This status
                type can be community defined or use one of the pre-defined code lists provided in the schema.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceEIDDCode" type="emcd:ResourceEIDDStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A set of resource status codes contained within the EIDD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceEIDDStatus" type="emlc:ResourceEIDDStatusType"
                substitutionGroup="emlc:ResourceSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A set of resource status codes contained within the EIDD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceUCADCode" type="emcd:ResourceUCADStatusCodeType">
        <xs:annotation>
            <xs:documentation>
                A set of resource status codes contained within the UCAD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceUCADStatus" type="emlc:ResourceUCADStatusType"
                substitutionGroup="emlc:ResourceSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A set of resource status codes contained within the UCAD documentation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ResourceSecondaryStatusText" type="mo:CodespaceCodePairType"
                substitutionGroup="emlc:ResourceSecondaryStatus">
        <xs:annotation>
            <xs:documentation>
                A free text field for describing the primary resource status type in further detail.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TextStatusDescriptionText" type="emlc:TextStatusDescriptionType">
        <xs:annotation>
            <xs:documentation>
                A free text field for describing the primary resource status type in further detail.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- COMPLEX TYPES -->
    <xs:complexType name="EventType">
        <xs:annotation>
            <xs:documentation>
                A data type that extends the emevent:EventType, adding in incident and resource elements.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="emevent:EventType">
                <xs:sequence>
                    <xs:element ref="emlc:EventDetailAbstract" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="emevent:EventCommunityExtensionAbstract" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentLocationExtensionType">
        <xs:annotation>
            <xs:documentation>
                A data type containing the additional location fields necessary to adequately describe the location of
                an incident.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emevent:Address" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:AddressCrossStreet" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="nc:AreaRegionAbstract" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="emlc:AddressIntersectionIndicator" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentDetailType">
        <xs:annotation>
            <xs:documentation>
                A data type containing a limited amount of information to further describe an incident.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <!-- IncidentStatus contains elements corresponding to the IncidentInformation/IncidentStatusCommon and IncidentInformation/IncidentStatusInternal elements defined in the EIDD -->
                    <xs:element ref="emlc:IncidentStatus"/>
                    <!-- IncidentOwningOrganization aligns with the EmergencyIncident/AgencyInformationOwnership element defined in the EIDD -->
                    <xs:element ref="emlc:IncidentOwningOrganization"/>
                    <!-- IncidentLocationExtension aligns with the IncidentInformation/LocationInformation element in the EIDD -->
                    <xs:element ref="emlc:IncidentLocationExtension" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentEIDDStatusType">
        <xs:annotation>
            <xs:documentation>
                A data type containing the EIDD status of the incident
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:IncidentEIDDCode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentOrganizationType">
        <xs:annotation>
            <xs:documentation>
                a data type representing an organization that manages the response to an incident
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="nc:OrganizationType">
                <xs:sequence>
                    <xs:element ref="nc:OrganizationIdentification"/>
                    <xs:element ref="emlc:IncidentIdentifier" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentPulsePointStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing the PulsePoint status of the incident
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:IncidentPulsePointCode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IncidentStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing the primary and secondary resource statuses.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:IncidentPrimaryStatus"/>
                    <xs:element ref="emlc:IncidentSecondaryStatus" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InfrastructureStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing the primary and secondary and reason for infrastructure statuses.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:InfrastructurePrimaryStatusCode"/>
                    <xs:element ref="emlc:InfrastructureSecondaryStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="emlc:InfrastructureStatusReason"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InfrastructureDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type representing a limited amount of information to further describe the status of fixed
                infrastructure
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:InfrastructureStatus"/>
                    <xs:element ref="emlc:InfrastructureDegradedPercent"/>
                    <xs:element ref="emlc:InfrastructureTrendCode"/>
                    <xs:element ref="emlc:InfrastructureEstimatedMitigationTime"/>
                    <xs:element ref="emlc:InfrastructureLocationExtension" minOccurs="0"/>
                    <xs:element ref="emlc:PointOfContact"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceDetailType">
        <xs:annotation>
            <xs:documentation>
                a data type representing a limited amount of information to further describe a resource.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:ResourceStatus"/>
                    <xs:element ref="emlc:ResourceOwningOrganization"/>
                    <xs:element ref="emlc:ResourceControllingOrganization" minOccurs="0"/>
                    <xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceOrganizationType">
        <xs:annotation>
            <xs:documentation>
                a data type representing an organization that manages emergency management resources.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="nc:OrganizationType">
                <xs:sequence>
                    <xs:element ref="nc:OrganizationIdentification"/>
                    <xs:element ref="emlc:ResourceIdentifier"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceEIDDStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing the EIDD status of the resource.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:ResourceEIDDCode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing the primary and secondary resource statuses.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:ResourcePrimaryStatus"/>
                    <xs:element ref="emlc:ResourceSecondaryStatus" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ResourceUCADStatusType">
        <xs:annotation>
            <xs:documentation>
                a data type representing containing the UCAD status of the resource.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:ResourceUCADCode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EmailAddressType">
        <xs:annotation>
            <xs:documentation>
                a data type representing a formatted email address
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="niem-xs:string">
                <xs:pattern value="[^@]+@[^\.]+\..+"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TextStatusType">
        <xs:annotation>
            <xs:documentation>
                A data type containing the free status of the resource.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="structures:ObjectType">
                <xs:sequence>
                    <xs:element ref="emlc:TextStatusDescriptionText"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attribute name="sourceID" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                A data type for name or URI for a controlled vocabulary.
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:complexType name="TextStatusDescriptionType">
        <xs:annotation>
            <xs:documentation>
                A data type for a value from a specified controlled vocabulary.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="niem-xs:string">
                <xs:attribute ref="emlc:sourceID" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
