schemas/exchange/MutualAidDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Brian Wilkins (ArdentMC) -->
<xs:schema xmlns:maid="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/maid/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/4.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/maid/" elementFormDefault="qualified" version="1.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" schemaLocation="./em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/" schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" schemaLocation="./EMLCCodeLists.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" schemaLocation="./EMLC.xsd"/>
	<!-- ELEMENTS -->
	<xs:element name="MutualAidMessage" abstract="true">
		<xs:annotation>
			<xs:documentation>
				a data concept - A mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequested" type="maid:AidRequestedType" substitutionGroup="maid:MutualAidMessage">
		<xs:annotation>
			<xs:documentation>
A request required to make a mutual aid request.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidResponding" type="maid:AidRespondingType" substitutionGroup="maid:MutualAidMessage">
		<xs:annotation>
			<xs:documentation>
A response for make a mutual aid request.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApprovedIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if approved; false otherwise
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MutualAidDetail" type="maid:MutualAidDetailsType" substitutionGroup="emlc:EventDetailAbstract">
		<xs:annotation>
			<xs:documentation>
An info packet to describe a mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedGenericResourceKind" type="maid:AidRequestedGenericResourceKindType">
		<xs:annotation>
			<xs:documentation>
				An info packet required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Quantity" type="nc:QuantityType">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EstimatedArrivalDateTime" type="niem-xs:dateTime">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceTypeDescriptiorExtension" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceTypeCode" type="emcd:EventTypeCodeType">
		<xs:annotation>
			<xs:documentation>
				An info packet required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingContactInformation" type="nc:ContactInformationType">
		<xs:annotation>
			<xs:documentation>
				An info packet required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResources" type="maid:AidRespondingResourcesKindType">
		<xs:annotation>
			<xs:documentation>
				An info packet required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResourceTypeKind" type="maid:AidRespondingResourceTypeKindType">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingPerson" type="maid:AidRespondingPersonType" substitutionGroup="maid:AidRespondingResourcesGroup">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingRank" type="maid:RestrictedValueType">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EstimatedAvailabilityDateTimeRange" type="nc:DateRangeType">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingCredential" type="maid:RestrictedValueType">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingEquipment" type="maid:AidRespondingEquipmentType" substitutionGroup="maid:AidRespondingResourcesGroup">
		<xs:annotation>
			<xs:documentation>
				An info packet  required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRespondingResourcesGroup" abstract="true">
		<xs:annotation>
			<xs:documentation>
				a data concept - The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedLocationExtension" type="emlc:IncidentLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedSpecificResource" type="maid:AidRequestedSpecificResourceType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedMissionNeed" type="maid:AidRequestedMissionNeedType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedGenericResource" type="maid:AidRequestedGenericResourceType" substitutionGroup="maid:AidRequestedResourcesKind">
		<xs:annotation>
			<xs:documentation>
				The information required to make a mutual aid response.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedResources" type="maid:AidRequestedResourcesType">
		<xs:annotation>
			<xs:documentation>
A Resource(s) being requested.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedResourcesKind" abstract="true">
		<xs:annotation>
			<xs:documentation>
				a data concept - Resource(s) being requested.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventCommunityExtensionAbstract" abstract="true">
		<xs:annotation>
			<xs:documentation>
				a data concept - A community-specific extension to a message, for which the XML schema is not known in advance.
        </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLink" type="emevent:EventLinkType">
		<xs:annotation>
			<xs:documentation>
A link to other EM events.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventLinkRelationCode" type="emcd:EventLinkRelationCodeType">
		<xs:annotation>
			<xs:documentation>
A relationship between "this" EM event and the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeCode" type="emcd:EventTypeCodeType">
		<xs:annotation>
			<xs:documentation>
A formal, enumerated type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EventTypeDescriptorExtension" type="mo:CodespaceCodePairType">
		<xs:annotation>
			<xs:documentation>
A community extended type code.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventCategory" type="emevent:EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A container for the formal type code and extended type code for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LinkedEventID" type="emevent:EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
A ID for the EM event being linked to.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OwningAgencyIdentification" type="nc:IdentificationType">
		<xs:annotation>
			<xs:documentation>
A identifying information for the owning agency.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinate" type="emevent:USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A coordinate from the United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems and a grid labeling convention. Similar to the MGRS grid.	
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGCoordinateID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG coordinate.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGEastingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance east within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGGridZoneSquareID" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
An identifier of a specific 100,000 meter squared region within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USNGNorthingValue" type="niem-xs:string" nillable="true">
		<xs:annotation>
			<xs:documentation>
A distance north within a USNG zone.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AidRequestedMissionNeedDescription" type="maid:RestrictedValueType" nillable="true">
		<xs:annotation>
			<xs:documentation>
A description of a mission need
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- COMPLEX TYPES -->
	<xs:complexType name="AidRespondingType">
		<xs:annotation>
			<xs:documentation>
A data type containing the mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:ApprovedIndicator" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingResources" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingContactInformation" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedResourcesType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid request
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRequestedResourcesKind" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedMissionNeedType">
		<xs:annotation>
			<xs:documentation>
			A type containing a mutual aid mission need request
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:Quantity" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRequestedMissionNeedDescription" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RestrictedValueAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for type EventIdentificationType</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RestrictedValueType">
	<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<!-- <xs:restriction base="emevent:ValueType"> -->
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:ValueText" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:ValueListURNText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="maid:RestrictedValueAugmentationPoint" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedGenericResourceType">
		<xs:annotation>
			<xs:documentation>
			A data type containing a mutual aid generic resource request
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:Quantity" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRequestedGenericResourceKind" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedSpecificResourceType">
		<xs:annotation>
			<xs:documentation>
			A data type containing a mutual aid specific resource request
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceIdentifier" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedLocationExtensionType">
		<xs:annotation>
			<xs:documentation>
			A data type containing extended location information
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:Address" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AddressCrossStreet" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AddressGrid" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="mo:MGRSCoordinateStringText" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:UTMCoordinateValue" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:AreaRegionAbstract" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emlc:AddressIntersectionIndicator" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingResourceTypeKindType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:ResourceTypeCode" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:ResourceTypeDescriptiorExtension" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingResourcesKindType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRespondingResourcesGroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MutualAidDetailsType">
		<xs:annotation>
			<xs:documentation>
A data type containing a limited amount of information to further describe a mutual aid request or response.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<!-- todo: some stuff here -->
					<xs:element ref="maid:MutualAidMessage" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedGenericResourceKindType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:ResourceTypeCode" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:ResourceTypeDescriptiorExtension" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emlc:ResourceNIMSDefinition" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EstimatedAvailabilityDateTimeRangeType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:StartDate" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:EndDate" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingEquipmentType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emlc:ResourceIdentifier" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedArrivalDateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingResourceTypeKind" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedAvailabilityDateTimeRange" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRespondingPersonType">
		<xs:annotation>
			<xs:documentation>
A data type containing the resource type for a mutual aid response
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EstimatedArrivalDateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingRank" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="maid:AidRespondingCredential" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="maid:EstimatedAvailabilityDateTimeRange" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>
A data type container for a comment, the comment's source, and the date/time that a comment was made.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:DateTime"/>
					<xs:element ref="nc:OrganizationIdentification"/>
					<xs:element ref="nc:PersonHumanResourceIdentification" minOccurs="0"/>
					<xs:element ref="nc:CommentText"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventTypeDescriptorType">
		<xs:annotation>
			<xs:documentation>
A data type container for the base hierarchical type and whatever extended type is necessary for an individual community.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:EventTypeCode"/>
					<xs:element ref="emevent:EventTypeDescriptorExtension" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="EventIdentificationAugmentationPoint" abstract="true">
		<xs:annotation>
			<xs:documentation>An augmentation point for type EventCommentType</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EventIdentificationType">
		<xs:annotation>
			<xs:documentation>
A data type for a representation of an identity as a single identifier.  Does not have a property for the identiy-assigning authority.
        </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<!-- <xs:restriction base="nc:IdentificationType"> -->
				<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:EventIdentificationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventLinkType">
		<xs:annotation>
			<xs:documentation>
A data type for a unidirectional relationship from the process or object described by an Event, to the process or object described by another Event, or to an arbitrary resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:LinkedEventID"/>
					<xs:element ref="emevent:LinkedEventCategory"/>
					<xs:element ref="emevent:EventLinkRelationCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>
			A data type, base event type for creating EM events from.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="emevent:RestrictedEventType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinate" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="emevent:EventLink" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="emevent:EventComment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AidRequestedType">
		<xs:annotation>
			<xs:documentation>
			A data type containing an Aid Request
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="maid:AidRequestedResources" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="maid:AidRequestedLocationExtension" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LocalIdentificationType">
		<xs:annotation>
			<xs:documentation>
A data type to reference an local identifier for whatever it is an event is referring to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nc:IdentificationID"/>
					<xs:element ref="nc:OrganizationIdentification"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RestrictedEventType">
		<xs:annotation>
			<xs:documentation>
A data type, restriction on the milops event type that significantly limits what elements can be used.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="mo:EventType">
				<xs:sequence>
					<xs:element ref="emevent:EventTypeDescriptor"/>
					<xs:element ref="mo:EventLocation"/>
					<xs:element ref="mo:EventIdentification"/>
					<xs:element ref="mo:EventValidityDateTimeRange"/>
					<xs:element ref="mo:EventMessageDateTime"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="USNGCoordinateType">
		<xs:annotation>
			<xs:documentation>
A data type for United States National Grid (USNG) which represents a location using the Universal Transverse Mercator (UTM) and the UPS grid systems.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="emevent:USNGCoordinateID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGEastingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGNorthingValue" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="nc:GeographicDatumText" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneID" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="emevent:USNGGridZoneSquareID" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
