schemas/exchange/SensorDetail_Power.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Brian Wilkins (ArdentMC) -->
<xs:schema xmlns:powdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/power/" xmlns:sensor="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/4.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/power/" elementFormDefault="qualified" version="1.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" schemaLocation="em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/" schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" schemaLocation="EMLCCodeLists.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" schemaLocation="EMLC.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" schemaLocation="SensorDetail.xsd"/>
	<!-- ELEMENTS -->
	<xs:element name="BatteryLevelPercent" type="niem-xs:decimal">
		<xs:annotation>
			<xs:documentation>
				The percentage of battery remaining
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BatteryRemainingDuration" type="niem-xs:integer">
		<xs:annotation>
			<xs:documentation>
				The duration of battery remaining in seconds.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OtherPower" type="sensor:OtherSensorType">
		<xs:annotation>
			<xs:documentation>
				Another type of power reading
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
