schemas/exchange/SensorDetail_Chemical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Brian Wilkins (ArdentMC) -->
<xs:schema xmlns:chemdet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/chemical/" xmlns:sensor="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/4.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/chemical/" elementFormDefault="qualified" version="1.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ExtensionSchemaDocument">
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" schemaLocation="em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/" schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" schemaLocation="EMLCCodeLists.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" schemaLocation="EMLC.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" schemaLocation="SensorDetail.xsd"/>
	<!-- ELEMENTS -->
	<xs:element name="AcidValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation>
				The Acid Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AmmoniaValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation>
				The Ammonia Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CarbonDioxideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation>
				The Carbon Dioxide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CarbonMonoxideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Carbon Monoxide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChlorineValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Chlorine Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DiboraneValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Diborane Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HydrogenValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Hydrogen Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HydrogenCyanideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Hydrogen Cyanide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HydrogenFlourideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Hydrogen Flouride Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HydrogenSulfideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Hydrogen Sulfide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IodineValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Iodine Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MethaneValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Methane Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NitrogenDioxideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Nitrogen Dioxide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OtherChemical" type="sensor:OtherSensorType">
		<xs:annotation>
			<xs:documentation>
				Another type of chemical sensor
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OxygenValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Oxygen Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PhosgeneValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Phosgene Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PhosphineValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Phosphine Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SulfurDioxideValue" type="niem-xs:double">
		<xs:annotation>
			<xs:documentation> 
				The Sulfur Dioxide Value in PPM
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
