schemas/exchange/SensorDetail_Biological.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Brian Wilkins (ArdentMC) -->
<xs:schema xmlns:biodet="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/biological/" xmlns:sensor="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" xmlns:emlc="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" xmlns:emevent="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/4.0/" xmlns:emcd="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" targetNamespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/biological/" elementFormDefault="qualified" version="1.0" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument">
	<xs:annotation>
		<xs:documentation>The base set of element for emergency management (EM) events. This base set should be reused across the various EM message types.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../subset/niem-4.0/niem/utility/structures/4.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/" schemaLocation="em_base.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="../subset/niem-4.0/niem/proxy/xsd/4.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/4.0/" schemaLocation="../subset/niem-4.0/niem/domains/militaryOperations/4.0/mo.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="../subset/niem-4.0/niem/niem-core/4.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/codes/" schemaLocation="EMLCCodeLists.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/emlc/" schemaLocation="EMLC.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/emergencyManagement/4.0/emevent/2.0/sensor/" schemaLocation="SensorDetail.xsd"/>
	<!-- ELEMENTS -->
	<xs:element name="AnthraxIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if anthrax found; false otherwise - The Anthrax Indicator.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BotulisIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if botulis found; false otherwise - The Botulis Indicator
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BubonicPlagueIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if Bubonic Plague found; false otherwise - The Bubonic Plague Indicator
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HemorrhagicFeverIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if Hemorrhagic Fever found; false otherwise  - The Hemorrhagic Fever Indicator
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OtherBiological" type="sensor:OtherSensorType">
		<xs:annotation>
			<xs:documentation>
				Another type of biological sensor
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SmallPoxIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if small pox found; false otherwise  - The Small Pox Indicator
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TularemiaIndicator" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>
				true if Tularemia found; false otherwise - The Tularemia Indicator
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
